<div class="navbar">
  <p><%= link_to "add a new list", new_list_path %></p>
</div>

<banner>
    <h1>List of movies</h1>
</banner>



  <ul>
    <% @lists.each do|list| %>
      <li><%= link_to list.name, list_path(list) %> </li>
      <% if list.photo.attached? %>
        <%= cl_image_tag list.photo.key, height: 300, width: 400, crop: :fill %>
      <% end %>
    <% end %>
  </ul>
