<h1>Bookmarks</h1>

<ul>
  <% @bookmarks.each do |bookmark| %>
    <li><%= bookmark %></li>
  <% end %>
</ul>


<p><%= link_to "create bookmark", new_bookmark_path %></p>
<p><%= link_to "back to list", lists_path %></p>
